/* Webfont: Gondgir Italic */@font-face {
    font-family: 'Gondgir';
    src: url('Gondgir.woff') format('woff'), /* Modern Browsers */
    url("Gondgir\ Italic.ttf"),
         url('Gondgir.woff2') format('woff2'), /* Modern Browsers */
         url('Gondgir.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

