@import url(../fonts/Gondgir/Gondgir\ Regular.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}

:root {
  --primary-color: #7d8035;
  --secondary-color: #666a25;
  --tertiary-color: #754c24;
  --bg-color: #e1e1e1;
}
body {
  background-color: #e1e1e1;
}


embed,
iframe,
img,
object {
  max-width: 100%;
}
a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

li a {
  color: #666a25;
}

a:hover,
button:hover {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background: #e1e1e1;
}
::-webkit-scrollbar-thumb {
  background: #e79a4d;
}
/* Navbar start */
.search-group {
  position: relative;
}

.search-group i {
  position: absolute;
  right: 8px;
  bottom: calc(100% / 2 - 10px);
}
.search-group i:hover {
  background-color: #666a25;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite 1s;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Navbar end */

.ratingstars {
  display: flex;
}
.card-rating {
  justify-content: space-around;
}

.card-rating p {
  margin: 0;
}

/* .slider-slogan {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(102, 106, 37, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  bottom: 10vh;
} */
/* .slider-slogan h1 {
  font-size: 3rem;
  text-shadow: black;
  font-weight: bold;
} */

.bdr-dashed {
  border: 2px dashed;
}

/* Utility Classes start */
.ratings {
  color: gold;
}
.font-gondgir {
  font-family: "Gondgir";
  font-size: 4rem;
}

.darkgreenbg {
  background-color: #666a25 !important;
}

.darkbrownbg {
  background-color: #754c24 !important;
}

.lightgreenbg {
  background: #7d8035 !important;
}

.lightgreentext {
  color: #7d8035 !important;
}

.darkgreentext {
  color: #666a25 !important;
}

.small-text {
  font-size: 11px;
}

.large-hide {
  display: none !important;
}

.banner_wrapper {
  height: 40.625rem !important;
  /* width: max-content; */
}
.banner_wrapper .swiper {
  width: 100%;
  height: 100%;
}

.banner_wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner_wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #666a25; */
  opacity: 0.2;
  z-index: 0;
}

.banner_wrapper .swiper-pagination-bullets .swiper-pagination-bullet{
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: var(--tertiary-color);
  border: 0.0625rem solid white;
}

.banner_wrapper .swiper .slide-caption {
  height: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner_wrapper .swiper .slide-caption{
  color: white;
  font-weight: 700;
}

.plantimg {
  border: 1.5px solid #666a25 !important;
  overflow: hidden;
}
.seedsimg {
  border: 1.5px solid #666a25 !important;
  overflow: hidden;
}

.potimg {
  border: 1.5px solid #666a25 !important;
  overflow: hidden;
}
.plantcareimg {
  border: 1.5px solid #666a25 !important;
  overflow: hidden;
}

.maintop-btn{
  background: linear-gradient(to right, #754c24, #e79a4d);
  border: 0.2rem solid white;
  padding: 0.5rem 2rem;
  position: relative;
  font-weight: 550;
  font-size: 1.2rem;
  margin-top:1.5rem;
  
}

.feature_section img:hover{
  background-color: goldenrod;
}
.maintop-btn:hover {
  background: #e1e1e1;
  color: #754c24;
  border: 0.2rem solid white;
}

.main-btn {
  position: relative;
  background: linear-gradient(to right, #754c24, #e79a4d);
  z-index: 1;
  overflow: hidden;
  border: 0.2rem solid white;
  padding: 0.3rem 1rem;
}

.main-btn:hover {
  background: #e1e1e1;
  color: #754c24;
  border: 0.2rem solid white;
}

/* About section */

.landing_about_section {
  background: url("../img/about/about3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 9rem 0;
}

.landing_about_section h2{
  color: #754c24;
  font-size: 2.5rem;
  font-weight: 600;
}
.landing_about_section p{
  color: #666a25;
  margin-bottom: 2rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .small-screen-text {
    font-size: 11px;
  }
  
  .large-hide {
    display: block !important;
  }

  .small-hide {
    display: none !important;
  }
}

/* Utility Classes end */

/* For responsiveness */
/* widhth 768px, widht 356px and height 640px */
/* For tablet */
@media (max-width: 768px) {
  body {
    background-color: rgba(128, 0, 128, 0.521);
  }
}

/* For mobile */
@media (max-width: 360px) {
  body {
    background-color: orange;
  }
  .swiper-slide {
    width: 100% !important;
    height: auto !important;
  }
}
