@import url(../fonts/Gondgir/Gondgir\ Regular.css);
.ratings {
  color: gold;
}

.card-rating {
  justify-content: space-around;
}

.card-rating p {
  margin: 0;
}

.font-gondgir {
  font-family: "Gondgir";
}
